<div class="row">
  <div class="header col-12">
    <div class="status-chat col-10">
        <mat-icon fontIcon="wifi_tethering" color="{{ isOnline }}"></mat-icon>
        <div class="title-chat">{{chatTitle}}</div>
    </div>
    <div class="col-2">
      <a (click)="logout()"><mat-icon>input</mat-icon></a>
    </div>
  </div>
  <div class="body col-12">
    <ng-container *ngFor="let message of messages.reverse()">
      <div class="message-sended" *ngIf="message.sender.id == myUser.id">
        <img class="profile-image-sended" src="{{ message.sender.profileImage }}" alt="Imagen de Perfil">
        <div class="message-container">
          <div class="sender-info">
            <span class="sender-name">{{ message.sender.nickname }}</span>
          </div>
          <div class="message-sended-content">
            <p class="text">{{ message.body }}</p>
            <span class="message-time">{{ message.createdAt | date:'HH:mm:ss'}}</span>
          </div>
        </div>
      </div>
      <div class="message" *ngIf="message.sender.id != myUser.id">
        <img class="profile-image" [src]="message.sender.profileImage" alt="Imagen de Perfil">
        <div class="message-container">
          <div class="receiver-info">
            <span class="sender-name">{{ message.sender.nickname }}</span>
          </div>
          <div class="message-content">
            <p class="text">{{ message.body }}</p>
            <span class="message-time">{{ message.createdAt  | date:'HH:mm:ss' }}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="footer col-12">
    <div class="message-input">
      <input type="text" class="input-message" [(ngModel)]="messageContent" name="dato"
      placeholder="Escribe un mensaje..." (keyup.enter)="sendMessage()">
      <button class="btn btn-primary">
        <mat-icon fontIcon="send" (click)="sendMessage()"></mat-icon>
      </button>
    </div>
  </div>
</div>
