<div class="login-container">
    <div class="login-box">
      <h2  *ngIf="showRegister == false">Login</h2>
      <h2  *ngIf="showRegister == true">Registrar Usuario</h2>
      <form #form="ngForm">
        <div class="form-group">
          <label for="username">Usuario</label>
          <input type="text" id="username" class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="Nombre de usuario" required>
        </div>
        <div class="container text-center"  *ngIf="showRegister == true">
          <label for="username">Avatares</label>
          <div class="avatar-container">
            <div class="avatar-row" *ngFor="let avatar of avatars">
              <img src="{{ avatar.path }}" alt="Avatar" class="avatar" [class.avatar-selected]="avatar.path == imagePath" (click)="selectAvatar(avatar.path)">
            </div>
          </div>
        </div>
          <button *ngIf="showRegister == false" type="submit" class="btn btn-primary" (click)="loginUser()">Iniciar sesión</button>
          <button *ngIf="showRegister == true" type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="registerUser()">Registrarse</button>
        </form>
        <div class="register">
            <div *ngIf="userCreated == true" class="alert alert-success" role="alert">
              ¡Éxito! Se ha creado el usuario.
            </div>          
            <p *ngIf="showRegister == false" (click)="displayRegister()">Registrarse</p>
            <p *ngIf="showRegister == true" (click)="closeRegister()">Iniciar Sesión</p>
        </div>
    </div>
</div>